@import 'variables';

.button {
  display: inline-block;
  padding: 7px 10px;
  margin: 8px 0 5px;
  background-color: #444;
  font-size: 16px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  &:hover {
    background-color: $theme-background-green;
  }
  &--circular {
    background-color: $theme-background-grey;
    box-sizing: border-box;
    color: white;
    height: $circular--button--small;
    width: $circular--button--small;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    &:hover {
      background-color: $theme-background-green;
    }
    &.inverse {
     color: $theme-grey;
      background-color: white;
      &:hover {
        color: white;
        background-color: $theme-background-green;

      }
    }
  }
  &--circular--large {
    @extend .button--circular;
    width: $circular--button--large;
    height: $circular--button--large;
    line-height: calc(#{$circular--button--large} - (#{$circular--button--large} / 10));
    padding-top: 1px;
  }
}