@import 'variables';

.icon {
  width: 25px;
  height: 25px;
  &--large {
    width: 70px;
  }
  &--xs {
    width: .8rem;
  }
  &--s {
    width: 1.25rem;
  }
}

.spanner:before {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: '' !important;
  background: image_url('icons/edit.svg') no-repeat;
  background-size: 50%;
  background-position: center center;
}