@import 'variables';

body {
  background: image_url('background.jpg') no-repeat fixed;
  background-size: cover;
  color: #212529;
}

main {
  max-width: 980px;
  margin: $nav-height auto 0;
  align-items: center;
}

.show {
  width: 100%;
}
.flash ~ main {
  margin: 1rem auto;
}

.front__page {
  position: absolute;
  top: 0;
  justify-content: center;
  min-height: 90vh;
}