body {
  background: image_url('background.jpg'), no-repeat fixed;
  background-size: cover;
  color: #212529;
}

main {
  max-width: 980px;
  margin: 50px auto 0;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}